.items_contaner {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-around;
  padding: 30px 0px;
  margin-top: 60px;
}

.item_card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 40%;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 1px 2px 2px lightgray;
}

.title_description_container {
  width: 90%;
}

.destination_container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 90px;
  margin-left: auto;
  margin-right: auto;

}

.address_holder {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 12px;
  height: 100%;
  padding: 10px;
  width: 30%;
}

.destination_container figcaption {
  color: #62B545;
  text-transform: lowercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-small;
}

.destination_container>div {
  font-size: 14px;
  font-weight: 800;
}

.path_icon {
  height: 50%;
  width: 30%;
  align-self: center;
  object-fit: contain;
  background-size: 100% 100%;
  text-align: center;
  align-self: last baseline;
}

.btn_details {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 50px;
  height: 50px;
  color: #62B545;
}

.btn_details:hover {
  width: 65px;
}